# Python
__pycache__/
*.py[cod]
venv/
.env

# Google Secrets (NEVER UPLOAD THESE)
credentials.json
token.json
client_secret_*.json

# Mac/Windows system files
.DS_Store
Thumbs.db

# Frontend
node_modules/
.next/
dist/
build/
